.habit {
    height: 100vh;
    width: 100%;
    margin: 0 ;
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

.habit_body{
    height: 80vh;
}

.habit_p {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    /* border: 1px solid ; */
    background-color: rgb(91, 201, 91);
    color: white;
    border-radius: 5px;
    width: 75%;
    justify-content: center;
    /* margin: auto; */
    /* font-family: ; */
}


.btn {
    margin-top: 30px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    margin-left: 25%;
    width: 150px;
    margin-bottom: 20px;
}


.rename {
    display: flex;
    flex-direction: column;
}

.habit_input {
    margin-top: 30px;
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    border: 3px solid green;
    border-radius: 5px;
    background-color: white;
    margin-left: 25%;
    width: 150px;
}
